<!-- <%- include('partials/_header'); %> -->

<body style="font-size:20px; padding:50px;">
    <h1> What's your Email? </h1>
     <form action="/" method="POST">

    <table>
        <tr>
        <td>Email</td>
        <td><input type="text" email="email" ></td>
        </tr>

        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
        <button onclick="myFunction()">save</button>
    </form>   
</body>




