<%- include('partials/_header'); %>

<body style="font-size:20px; padding:50px;">
  <h1 class="title"> Please enter your e-mail </h1>
  <h3> Once entered, your portion of the download will begin</h3>
   <form action="/" method="POST">

  <table>
    <tr>
    <td>Email</td>
    <td><input type="text" name="email" ></td>
    </tr>

    <tr>
    <td colspan="2"> <input type="submit" value="Save"> </td>
    </tr>
  </table>
  </form> 
</body>




